

#rjk-shared-header {
    display: none !important;
}

span.ticker {
    background-image: url('tab.gif') !important;
    color: #fff !important
}


body {
    background-color: rgb(17, 17, 10) !important;
    background-image: none !important;
    color: #fff !important;
}

section {
    background: #5D7983 !important;
}

.titles {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
}

.titles > div {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title-1 {
    width: calc(5*40px);
    margin-right: 40px;
}
.title-2 {
    width: calc(18*40px);
    margin-right: 40px;
}
.title-3 {
    width: calc(9*40px);
}



#ticker > .board > li .ticker-row .ticker:nth-child(6) {
    background-image: none !important;
    opacity: 0;
}
#ticker > .board > li .ticker-row .ticker:nth-child(25) {
    background-image: none !important;
    opacity: 0;
}

.logo {
    width: 40%;
    position: relative;
    background-image: url('./departures.jpg');
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
}